.header_container{
    padding: 15px 0;
    height: 100%;
}
header{
    width: 100%;
    height: 4.9rem;
    /*background-color: #F27C08;*/
}
.header{
        position: fixed;
        z-index: 800;
        top: 0;
        right: 0;
        left: 0;
}
@media (min-width: 1280px)
.container, .container-md, .container-lg, .container-xl {
    max-width: 1280px;
}

@media (min-width: 992px)
.container  .container-sm, .container-md, .container-lg {
    max-width: 960px;
}


@media (min-width: 768px)
.container, .container-sm, .container-md {
    max-width: 720px;
}

@media (min-width: 576px)
.container, .container-sm {
    max-width: 540px;
}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    width: 100%;
    height: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}

.ant-input-search :where(.css-dev-only-do-not-override-1b0bdye).ant-input-group .ant-input-affix-wrapper:not(:last-child) {
    height: 48px!important;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-input-search >.ant-input-group >.ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary){
    height: 48px;
    background-color: white;
    color:  #F27C08;
}
input:focus{
    border: none;
}
:where(.css-dev-only-do-not-override-1b0bdye).ant-input-outlined:focus-within{
    border-color:#F27C08 ;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-input-search >.ant-input-group >.ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary):hover {
    color: #F27C08;
}
.change{
    transition: background-color 0.3s ease;
}

.overflow_css{
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overflow_css_w_120{
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.overflow_css_w_158{
    width: 142px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*.overflow_css_card{*/
/*    width: 140px;*/
/*    white-space: nowrap;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*}*/

.overflow_css_card {
    width: 150px;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Số dòng tối đa cần hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.overflow_css_card_160 {
    width: 160px;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Số dòng tối đa cần hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.overflow_css_card_206 {
    width: 206px;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Số dòng tối đa cần hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.overflow_css_card_740 {
    width: 740px;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Số dòng tối đa cần hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.active_color{
    color: #F27C08;
}

a a:hover{
    color: black;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-card-small >.ant-card-body{
    padding: 0;
    background-color: white;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-card .ant-card-body{
    padding: 0;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-card .ant-card-cover img{
    border-radius: 0;
}

.carousel-container{
    width: 900px;
}

.carousel-container-categories{
    width: 650px;
}

@media (min-width: 1280px)
.carousel-container{
    width: 900px;
}


@media (min-width: 992px)
.carousel-container{
    width: 680px;
}


@media (min-width: 768px)
.carousel-container{
    max-width: 464px;
}

@media (min-width: 576px)
.carousel-container{
    max-width: 300px;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-collapse-ghost >.ant-collapse-item >.ant-collapse-content >.ant-collapse-content-box {
    padding:0;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-select-single .ant-select-selector {
    border-radius: 0;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-checkbox .ant-checkbox-inner{
    border-radius: 0;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-checkbox-checked .ant-checkbox-inner {
    background-color: #F27C08;
    border-color: #F27C08;
}
:where(.css-dev-only-do-not-override-1b0bdye).ant-checkbox-checked .ant-checkbox-inner :hover {
    background-color: #F27C08;
    border-color: #F27C08;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-input {
    border-radius: 0;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-pagination .ant-pagination-item{
    border-radius: 0;
}

.react-multiple-carousel__arrow{
    z-index: 0!important;
}

.counter{
    width: 22px;
    height: 22px;
    background-color: red;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    padding: 4px;
    position: absolute;
    top: 0;
    right: 24px;
}
.notifications{
    width: 22rem;
    right: 24px;
    position: absolute;
    top: 56px;
    background-color: white;
    color: black;
    max-height: 42.4vh;
    overflow: auto;
    display: block;
    border: 2px solid #f3f1f1;
}

.message-send{
    justify-content: flex-end;
    display: flex;
    margin-bottom: 8px;
    margin-left: auto;
    max-width: 80%;
}
.message-receive{
    display: flex;
    margin-bottom: 8px;
    max-width: 80%;
}
.bg-send{
    background-color: #d7f7ef;
}
.bg-receive{
    background-color: #fafafa;
}
