.sidebar-item {
  padding: 10px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    border-left 0.3s;
}

.sidebar-item:hover {
  background-color: rgb(226 232 240);
}

.sidebar-item.selected {
  border-left: 5px solid #4caf50;
  background-color: rgb(226 232 240);
}
