.wrapper{
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    margin-top: 80px;
}

.home-right{
    min-height: 700px;
    background: #f5f5f5;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.13);
    margin-left: 28px;
    box-sizing: border-box;
    width: 1200px;
}

.fix-left{
    text-align: left!important;
}

/*.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{*/
/*    padding: 0!important;*/
/*    overflow: auto;*/
/*}*/

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    letter-spacing: 0!important;
}
.css-vcv939{
    border-bottom: 0!important;
}
button:focus{
    outline: none!important;
}
.css-1aquho2-MuiTabs-indicator{
    background-color:white!important;
}

.table-css{
    background-color: #f5f5f5;
    color: dimgray;
    font-weight: 550;
    font-size: 12px;
    height: 20px;
}

.css-pdct74-MuiTablePagination-selectLabel {
    font-size: 12px!important;
}
.css-levciy-MuiTablePagination-displayedRows{
    font-size: 12px!important;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 6.5px 10px!important;
    border-radius: 0!important;
    /*min-width: 258px!important;*/
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
    border-radius: 0!important;
}
